.bg-default-image {
    background-image: url("/images/defaullt.jpg");
    background-size: cover;
    height: 150px;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
}
.regg{
    color: white;
    font-size: 100;
}
.img {
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
    height: auto;
}
